doctype html
html(class="no-js", lang="ru")
    include ../components/head/head.pug
    include ../components/example/example.pug
    include ../components/footer/footer.pug
    include ../components/header-content/header-content.pug
    include ../components/mobile-header/mobile-header.pug
    include ../components/nav-m/nav-m.pug
    include ../components/info-block-m/info-block-m.pug
    include ../components/score-block-m/score-block-m.pug
    include ../components/reg-block-m/reg-block-m.pug
    include ../components/desktop-header/desktop-header.pug
    include ../components/nav-d/nav-d.pug
    include ../components/info-block-d/info-block-d.pug
    include ../components/score-block-d/score-block-d.pug
    include ../components/reg-block-d/reg-block-d.pug
    include ../components/main-content/main-content.pug
    include ../components/mobile-main/mobile-main.pug
    include ../components/main-top-m/main-top-m.pug
    include ../components/drop-wrap-m/drop-wrap-m.pug
    include ../components/desktop-main/desktop-main.pug
    include ../components/main-top-d/main-top-d.pug
    include ../components/drop-wrap-d/drop-wrap-d.pug
    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            //- +example()
            +header-content()
            +main-content()
            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')