include ../../../bemto/bemto.pug
+b.drop-wrap
    +e#drop-wrap__tab-drob-block-f-desktop.tab-drop-block
        +e.slide-wrap.flex-between
            +e#drop-wrap__slide-f-desktop.slide-block.first-slide-desktop
            +e#drop-wrap__slide-s-desktop.slide-block.second-slide-desktop
            +e#drop-wrap__slide-t-desktop.slide-block.third-slide-desktop
            +e.slide-control-block.flex-between
                +e.BUTTON#drop-wrap__btn-left-desktop.control-block-button ❬
                +e.BUTTON#drop-wrap__btn-right-desktop.control-block-button ❭
    +e#drop-wrap__tab-drob-block-s-desktop.tab-drop-block.second-drop-block-desktop
        +e.P.tab-dummy-txt.first-dummy-txt  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia excepturi enim nesciunt nihil error praesentium quam doloribus dolorem qui rem voluptas non perferendis ipsa expedita saepe sunt quisquam, reprehenderit suscipit.
    +e#drop-wrap__tab-drob-block-t-desktop.tab-drop-block.third-drop-block-desktop
        +e.P.tab-dummy-txt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia excepturi enim nesciunt nihil error praesentium quam doloribus dolorem qui rem voluptas non perferendis ipsa expedita saepe sunt quisquam, reprehenderit suscipit.
