@media all and (min-width: 1000px) {
    .main-top {
        height: 80px;
        justify-content: center;
    }
    .main-top>div:not(:last-child) {
        margin-right: calc((100vw - 900px) / 4.79);
    }
    .main-top__title-wrap {
        margin-top: 8px;
    }
    .main-top__search-block {
        margin-top: 16px;
    }
    .main-top__search-form {
        width: 290px;
    }
    .main-top__search-input {
        height: 30px;
    }
    .main-top__search-span {
        margin-right: 5px;
    }
    .main-top__tab-block {
        width: 360px;
    }
    .main-top__tab-button {
        font-size: 1.03rem;
        padding: 14px 12px 25px;
        margin-top: 18px;
    }
    .active-tab-button {
        padding-bottom: 26px;
    }
}

