include ../../../bemto/bemto.pug
mixin nav-li(liclass, aclass, href, txt)
    li(class!=liclass)
        if block
            block
        a(class!=aclass href=href)= txt
mixin navi-li(href, txt) 
    +e.LI.link-item
        block
        +e.A(href=href).list-link= txt 

//- ------------------------------------------------actual pug starting up here
+b.HEADER.header
    +b#mobile-header-wrap.mobile-header-wrap
        +b.NAV.nav
            +e.UL.link-list.flex-between
                +navi-li('#', 'USA site')
                +navi-li('#', 'Deutch site')
                +e.LI.link-item.flex-between
                    +e.SPAN.list-txt Россия:
                    +e.A(href='#').list-link Switch to english
        +b.info-block.flex-between
            +b.score-block.flex-between
                +e.SPAN.score-svg-wrap
                    +e.SVG(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20')
                        +e.DEFS
                            +e.SYMBOL#clock-icon
                                +e.PATH(fillRule='evenodd' d='M 10.02 15.57C 9.65 15.57 9.36 15.87 9.36 16.23 9.36 16.6 9.65 16.89 10.02 16.89 10.38 16.89 10.68 16.6 10.68 16.23 10.68 15.87 10.38 15.57 10.02 15.57ZM 10.02 4.43C 10.38 4.43 10.68 4.13 10.68 3.76 10.68 3.4 10.38 3.1 10.02 3.1 9.65 3.1 9.36 3.4 9.36 3.76 9.36 4.13 9.65 4.43 10.02 4.43ZM 10-0C 4.48-0-0 4.48-0 10-0 15.52 4.48 20 10 20 15.52 20 20 15.52 20 10 20 4.48 15.52-0 10-0ZM 10 17.58C 5.81 17.58 2.42 14.19 2.42 10 2.42 5.81 5.81 2.42 10 2.42 14.19 2.42 17.58 5.81 17.58 10 17.58 14.19 14.19 17.58 10 17.58ZM 3.78 9.34C 3.42 9.34 3.12 9.63 3.12 10 3.12 10.36 3.42 10.66 3.78 10.66 4.15 10.66 4.45 10.36 4.45 10 4.45 9.63 4.15 9.34 3.78 9.34ZM 16.25 9.34C 15.89 9.34 15.59 9.63 15.59 10 15.59 10.36 15.89 10.66 16.25 10.66 16.62 10.66 16.91 10.36 16.91 10 16.91 9.63 16.62 9.34 16.25 9.34ZM 13.09 6.3C 13.09 6.3 9.93 9.46 9.93 9.46 9.93 9.46 8.17 7.69 8.17 7.69 7.88 7.4 7.4 7.4 7.1 7.69 6.81 7.99 6.81 8.46 7.1 8.76 7.1 8.76 9.46 11.11 9.46 11.11 9.46 11.11 9.76 11.41 10.13 11.23 10.55 11.03 14.16 7.36 14.16 7.36 14.45 7.07 14.45 6.59 14.16 6.3 13.87 6 13.39 6 13.09 6.3Z' fill='rgb(225,23,55)')
                        +e.USE(href='#clock-icon')
                +e.A(href='#').score-link.nav__list-link Онлайн Табло
            +b.reg-block
                +e.BUTTON#header__reg-button-mobile.reg-button.nav__list-link Вход и регистрация
                +e#header__reg-drop-block-mobile.reg-drop-block
                    +e.FORM#header__reg-form-mobile(action='#' method='POST').reg-form
                        +e.input-block.flex-between
                            +e.LABEL(for='header__reg-mail-mobile').reg-label EMAIL:
                            +e.INPUT#header__reg-mail-mobile(type='email' form='header__reg-form-mobile' name='mail' placeholder='Введите ваш email').reg-input
                            +e.P#header__mail-msg-mobile.input-msg
                        +e.input-block.flex-between
                            +e.LABEL(for='header__reg-pass-mobile').reg-label Password:
                            +e.INPUT#header__reg-pass-mobile(type='password' form='header__reg-form-mobile' name='password' placeholder='Введите ваш пароль').reg-input
                            +e.P#header__pass-masg-mobile.input-msg
                        +e.BUTTON#header__reg-confirm-mobile.reg-confirm Войти

    +b#desktop-header-wrap.desktop-header-wrap.flex-between
        +b.NAV.nav
            +e.UL.link-list.flex-between
                +navi-li('#', 'USA site')
                +navi-li('#', 'Deutch site')
                +e.LI.link-item.flex-between
                    +e.SPAN.list-txt Россия:
                    +e.A(href='#').list-link Switch to english
        +b.info-block.flex-between
            +b.score-block.flex-between
                +e.SPAN.score-svg-wrap
                    +e.SVG(width='20px' height='20px')
                        +e.USE(href='#clock-icon')
                +e.A(href='#').score-link.nav__list-link Онлайн Табло
            +b.reg-block
                +e.BUTTON#header__reg-button-desktop.reg-button.nav__list-link Вход и регистрация
                +e#header__reg-drop-block-desktop.reg-drop-block
                    +e.FORM#header__reg-form-desktop(action='#' method='POST').reg-form
                        +e.input-block.flex-between
                            +e.LABEL(for='header__reg-mail-mobile').reg-label EMAIL:
                            +e.INPUT#header__reg-mail-desktop(type='email' form='header__reg-form-desktop' name='mail' placeholder='Введите ваш email').reg-input
                            +e.P#header__mail-msg-desktop.input-msg
                        +e.input-block.flex-between
                            +e.LABEL(for='header__reg-pass-mobile').reg-label Password:
                            +e.INPUT#header__reg-pass-desktop(type='password' form='header__reg-form-desktop' name='password' placeholder='Введите ваш пароль').reg-input
                            +e.P#header__pass-masg-desktop.input-msg
                        +e.BUTTON#header__reg-confirm-desktop.reg-confirm Войти