.error {
    color: red;
}

.header {
    background: $grayBack;
    width: $fullScrW;
    height: 63px;
}
.mobile-header-wrap {
    flex-flow: row wrap;
}
.nav {
    border-bottom: 1px solid $navBord;
}
.nav__link-item:last-child {
    justify-content: center;
}
.nav__list-link,.nav__list-txt {
    font: {
        weight: 600;
        size: 13px;
    }     
    color: $mainBlue;
    display: block;
    padding: 7px 5px;
}
.nav__list-txt {
    color: black;
    padding:0;
}
.score-block__score-svg-wrap {
    margin-left: 5px;
}
.reg-block__reg-drop-block {
    position: absolute;
    top: calc(.5px - (186px + 63.5px));
    left: 10%;
    right: 10%;
    background: $grayBack;
    padding: 10px;
    border-radius: 1px;
    z-index: 1;
    transition: top 250ms;
}
.reg-block__input-block {
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
}
.reg-block__input-block:not(:last-of-type) {
    margin-bottom: 5px;
}
.reg-block__reg-label {
    color: $mainBlue;
    font-size: 14px;
}
.reg-block__reg-input {
    border: 1px solid $grayBord;
    border-radius: 2px;
    width: 99%;
    height: 30px;
    text-indent: 3px;
}
.reg-block__input-msg {
    font-size: 14px;
    margin-top: 3px;
}
.reg-valid {
    color: $regVal;
    background: $regValBack;
}
.reg-invalid {
    color: $regInval;
    background: $regInvalBack;
}
.reg-block__reg-confirm {
    width: 61px;
    margin: 10px 0 0 auto;
    border: 1px solid $grayBord;
    padding: 7px;
    color: $confRed;
}
.desktop-header-wrap {
    display: none;
}
// -------------------------------------------------------------------------------desktop layout starting up here
@media all and (min-width: 1000px) {
    .mobile-header-wrap {
        display: none;
    }
    .header {
        height: 40px;
        display: flex;
        align-items: center;
    }
    .desktop-header-wrap {
        display: flex;
        justify-content: center;
        width: $fullScrW;
    }
    .nav {
        border-bottom: none;
        margin-right: calc((100vw - 696px) / 2);
    }
    .nav__link-item:last-child a {
        padding-left: 2px;
    }
    .nav__list-link {
        margin-right: 30px;
    }
    .reg-block__reg-button {
        margin-right: 0;
    }
    .reg-block__reg-drop-block {
        left: 68%;
        right: 12%;
    }
}