header(class='header')
    div(id='mobile-header-wrap' class='mobile-header-wrap')
        nav(class='header__nav')
            ul(class='header__nav-link-list flex-between')
                //- - var navN = ['']
                li(class='header__nav-link-item')
                    a(href="#" class='header__nav-list-link') USA site
                li(class='header__nav-link-item')
                    a(href="#" class='header__nav-list-link') Deutch site
                li(class='header__nav-link-item flex-between')
                    span(class='header__nav-list-txt') Россия:
                    a(href="#" class='header__nav-list-link') Switch to english
        div(class='header__info-block flex-between')
            div(class='header__score-block flex-between')
                span(class='header__score-svg-wrap')
                    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20')
                        defs
                            symbol(id='clock-icon')
                                path(fillRule='evenodd' d='M 10.02 15.57C 9.65 15.57 9.36 15.87 9.36 16.23 9.36 16.6 9.65 16.89 10.02 16.89 10.38 16.89 10.68 16.6 10.68 16.23 10.68 15.87 10.38 15.57 10.02 15.57ZM 10.02 4.43C 10.38 4.43 10.68 4.13 10.68 3.76 10.68 3.4 10.38 3.1 10.02 3.1 9.65 3.1 9.36 3.4 9.36 3.76 9.36 4.13 9.65 4.43 10.02 4.43ZM 10-0C 4.48-0-0 4.48-0 10-0 15.52 4.48 20 10 20 15.52 20 20 15.52 20 10 20 4.48 15.52-0 10-0ZM 10 17.58C 5.81 17.58 2.42 14.19 2.42 10 2.42 5.81 5.81 2.42 10 2.42 14.19 2.42 17.58 5.81 17.58 10 17.58 14.19 14.19 17.58 10 17.58ZM 3.78 9.34C 3.42 9.34 3.12 9.63 3.12 10 3.12 10.36 3.42 10.66 3.78 10.66 4.15 10.66 4.45 10.36 4.45 10 4.45 9.63 4.15 9.34 3.78 9.34ZM 16.25 9.34C 15.89 9.34 15.59 9.63 15.59 10 15.59 10.36 15.89 10.66 16.25 10.66 16.62 10.66 16.91 10.36 16.91 10 16.91 9.63 16.62 9.34 16.25 9.34ZM 13.09 6.3C 13.09 6.3 9.93 9.46 9.93 9.46 9.93 9.46 8.17 7.69 8.17 7.69 7.88 7.4 7.4 7.4 7.1 7.69 6.81 7.99 6.81 8.46 7.1 8.76 7.1 8.76 9.46 11.11 9.46 11.11 9.46 11.11 9.76 11.41 10.13 11.23 10.55 11.03 14.16 7.36 14.16 7.36 14.45 7.07 14.45 6.59 14.16 6.3 13.87 6 13.39 6 13.09 6.3Z' fill='rgb(225,23,55)')
                        use(href='#clock-icon')
                a(href="#" class='header__score-link header__nav-list-link') Онлайн Табло
            div(class='header__reg-block')
                button(id='header__reg-button-mobile' class='header__reg-button header__nav-list-link') Вход и регистрация
                div(id='header__reg-drop-block-mobile' class='header__reg-drop-block')
                    form(id='header__reg-form-mobile' action='#' class='header__reg-form' method='POST')
                        div(class='header__input-block flex-between')
                            label(for='header__reg-mail-mobile' class='header__reg-label') EMAIL:
                            input(id='header__reg-mail-mobile' type='email' class='header__reg-input' form='header__reg-form-mobile' name='mail' placeholder='Введите ваш email')
                            p(id='header__mail-msg-mobile' class='header__input-msg')
                        div(class='header__input-block flex-between')
                            label(for='header__reg-pass-mobile' class='header__reg-label') Password:
                            input(id='header__reg-pass-mobile' type='password' class='header__reg-input' form='header__reg-form-mobile' name='mail' placeholder='Введите ваш пароль' autocomplete='current password')
                            p(id='header__pass-masg-mobile' class='header__input-msg')
                        button(id='header__reg-confirm-mobile' class='header__reg-confirm') Войти


    div(id='desktop-header-wrap' class='desktop-header-wrap flex-between')
        nav(class='header__nav')
            ul(class='header__nav-link-list flex-between')
                //- - var navN = ['']
                li(class='header__nav-link-item')
                    a(href="#" class='header__nav-list-link') USA site
                li(class='header__nav-link-item')
                    a(href="#" class='header__nav-list-link') Deutch site
                li(class='header__nav-link-item flex-between')
                    span(class='header__nav-list-txt') Россия:
                    a(href="#" class='header__nav-list-link') Switch to english
        div(class='header__info-block flex-between')
            div(class='header__score-block flex-between')
                span(class='header__score-svg-wrap')
                    svg(width='20px' height='20px')
                        use(href='#clock-icon')
                a(href="#" class='header__score-link header__nav-list-link') Онлайн Табло
            div(class='header__reg-block')
                button(id='header__reg-button-desktop' class='header__reg-button header__nav-list-link') Вход и регистрация
                div(id='header__reg-drop-block-desktop' class='header__reg-drop-block')
                    form(id='header__reg-form-desktop' action='#' class='header__reg-form' method='POST')
                        div(class='header__input-block flex-between')
                            label(for='header__reg-mail-desktop' class='header__reg-label') EMAIL:
                            input(id='header__reg-mail-desktop' type='email' class='header__reg-input' form='header__reg-form-desktop' name='mail' placeholder='Введите ваш email')
                            p(id='header__mail-msg-desktop' class='header__input-msg')
                        div(class='header__input-block flex-between')
                            label(for='header__reg-pass-desktop' class='header__reg-label') Password:
                            input(id='header__reg-pass-desktop' type='password' class='header__reg-input' form='header__reg-form-desktop' name='mail' placeholder='Введите ваш пароль' autocomplete='current password')
                            p(id='header__pass-masg-desktop' class='header__input-msg')
                        button(id='header__reg-confirm-desktop' class='header__reg-confirm') Войти