.header {
    background: $grayBack;
    width: $fullScrW;
    height: 63px;
    @media all and (min-width: 1000px) {
        height: $headH;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 120;
    }
}