.drop-wrap {
    margin-top: 25px;
    @media all and (min-width: 1000px) {
        max-width: $w1100;
        min-width: $w1000;
        margin: 30px auto;
    }
}
.drop-wrap__slide-wrap {
    justify-content: center;
    position: relative;
    width: $fullScrW;
    height: 50vh;
    overflow: hidden;
    @media all and (min-width: 1000px) {
        height: 450px;
    }
}
.drop-wrap__slide-img {
    width: 100vw;
    height: 38vh;
    @media all and (min-width: 1000px) {
        max-width: $w1100;
        min-width: $w1000;
        height: $slideH;
    }
}
.ctrl {
    position: absolute;
    width: $fullScrW;
    bottom: 34vh;
    text-align: center;
    @media all and (min-width: 1000px) {
        bottom: 60%;
    }
}
.ctrl .arrow {
    display: block;
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    background-color: #333;
    cursor: pointer;
    font: 30px/58px 'Open Sans', Helvetica, sans-serif;
    opacity: .55;
    color: #fff;
    text-align: center;
    margin: 0 3%;
    @media all and (min-width: 1000px) {
        width: 60px;
        height: 62px;
        margin: 0 5%;
        font: 40px/68px;
    }
}
.drop-wrap__tab-dummy-txt {
    background: lightblue;
}
.first-dummy-txt {
    background: $frDTxt;
}
.drop-wrap__slide-shadow {
    position: absolute;
    height: 5px;
}
.first-shadow {
    top: 76%;
    left: 0px;
    right: 0px;
    background: rgba(11, 30, 94, 0.836);
    @media all and (min-width: 1000px) {
        top: 430px;
    }
}
.second-shadow {
    top: 77%;
    left: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.623);
    @media all and (min-width: 1000px) {
        top: 435px;
    }
}
.third-shadow {
    top: 78%;
    left: 35px;
    right: 35px;
    background: rgba(105, 105, 105, 0.568);
    @media all and (min-width: 1000px) {
        top: 440px;
    }
}
.second-drop-block, .third-drop-block {
    display: none;
}