include ../../../bemto/bemto.pug
mixin tab(id, txt)
    +e.BUTTON(id!=id).tab-button= txt
//- ----------------------------------------------actual pug starting up here
+b.main-top
    +e.title-wrap.flex-between 
        +e.A(href='#').title-link
            +e.IMG(src='../../static/img/general/trans-logo.png' alt='company logo').title-img
    +e.search-block.flex-between
        +e.FORM(action='#' method='GET' target='_blank')#main-top__search-form-mobile.search-form.flex-between
            +e.INPUT(type='search' form='main-top__search-form-mobile' name='search' placeholder='поиск по сайту').search-input
            +e.SPAN.search-span
                +e.SVG(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19px' height='19px' viewBox='0 0 19 19')
                    +e.DEFS
                        +e.SYMBOL#main-top__search-icon
                            +e.PATH(fillRule='evenodd' d='M 13.65 7.29C 13.65 3.76 10.79 0.89 7.27 0.89 3.75 0.89 0.89 3.76 0.89 7.29 0.89 10.82 3.75 13.69 7.27 13.69 10.79 13.69 13.65 10.82 13.65 7.29ZM 7.22 11.59C 4.86 11.59 2.94 9.67 2.94 7.29 2.94 4.91 4.86 2.99 7.22 2.99 9.59 2.99 11.51 4.91 11.51 7.29 11.51 9.67 9.59 11.59 7.22 11.59ZM 17.73 15.11C 17.73 15.11 13.91 11.28 13.91 11.28 13.37 10.74 13.56 11.46 13.07 11.96 13.07 11.96 12.26 12.77 12.26 12.77 11.77 13.26 10.68 13.25 11.31 13.89 11.31 13.89 15.13 17.72 15.13 17.72 15.62 18.22 16.43 18.22 16.93 17.72 16.93 17.72 17.73 16.91 17.73 16.91 18.22 16.42 18.22 15.61 17.73 15.11Z' fill='rgb(183,183,183)' opacity='0.60')
                    +e.USE(href='#main-top__search-icon')
    +e.tab-block.flex-between
        +e.BUTTON#main-top__tab-button-f-mobile.tab-button.active-tab-button Возможности
        +tab('main-top__tab-button-s-mobile', 'Информация')
        +tab('main-top__tab-button-t-mobile', 'Привелегии')