.main-top {
    border-bottom: 1px solid $mTopBord;
    width: $fullScrW;
    @media all and (min-width: 1000px) {
        height: 80px;
        justify-content: center;
        width: $w1200;
        margin:0 auto;
        padding: 0 0px;
    }
}
.main-top__title-wrap {
    justify-content: space-around;
    @media all and (min-width: 1000px) {
        margin-top: 8px;
    }
}
.main-top__search-block {
    justify-content: space-around;
    margin-bottom: 10px;
    @media all and (min-width: 1000px) {
        margin-top: 16px;
    }
}
.main-top__search-form {
    border: 1px solid $mTopSForm;
    width: 75vw;
    border-radius: 1px;
    @media all and (min-width: 1000px) {
        width: $searchW;
    }
}
.main-top__search-input {
    border: none;
    height: 32px;
    text-indent: 5px;
    @media all and (min-width: 1000px) {
        height: 30px;
    }
}
.main-top__search-span {
    margin-right: 5px;
    @media all and (min-width: 1000px) {

    }
}
.main-top__tab-block {
    width: $fullScrW;
    @media all and (min-width: 1000px) {
        width: $tabW;
        margin:0 39px 0 77px;
    }
}
.main-top__tab-button {
    font-size: .95rem;
    padding: 10px 5px 10px;
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    @media all and (min-width: 1000px) {
        font-size: 1rem;
        padding: 14px 12px 25px;
        margin-top: 18px;
    }
}
.active-tab-button {
    color: red;
    border-top: 2px solid red;
    border-right: 1px solid lightgrey;
    border-bottom: 2px solid white;
    border-left: 1px solid lightgray;
    margin-bottom: -1px;
    padding-bottom: 11px;
    @media all and (min-width: 1000px) {
        padding-bottom: 26px;
    }
}